* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  margin: 0;
  padding: 2rem;
  text-align: center;
  overflow-y: hidden;
}

.checked {
  text-decoration-line: line-through;
}

.noChecked{
  background-color: aquamarine;
}